
#secao-pesquisar {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    
}

.campo-pesquisar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 270px;
    z-index: 3;
}

.campo-pesquisar > i{
    font-size: 50px;
}

#caixa-pesquisa{
    height: 50px;
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    position: relative;
}

#pesquisa-livro{
    font-size: 1rem;
    height: 50px;
    width: 50vw;
    margin-left: auto;
    margin-right:auto;
    text-align: start;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    
    /* Deixar caixa de pesquisa acima das imagens */
    display:block;
    position: relative;
}

#botao-pesquisar{
    font-size: 0.9rem;
    height: 50px;
    width: 120px;
    justify-content: flex-start;
    text-align: center;
    display:block;
    position: relative;
    margin-top: 10px;

    
    color: rgb(0, 0, 0);
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

#botao-pesquisar:hover{
    transform: translate(0, -6px);
}

@keyframes mover-efeito-brilho {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes mover-cadentes {
    from {background-position:0 0;}
    to {background-position:250000px 0;}
}

.estrelas, .efeito-brilho, .cadente, .planetas {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.estrelas {
  background:rgb(0, 0, 0) url(../img/estrelas.png) repeat top center;
  z-index:0;
}

.planetas {
    background: url(../img/planetas.svg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 3;
    animation: floating 10s linear infinite;
}

@keyframes floating{
    0%, 100%{
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(20px);
    }
}

.efeito-brilho {
  background:transparent url(../img/efeito-brilho.png) repeat top center;
  z-index:1;
  animation:mover-efeito-brilho 200s linear infinite;
}

.cadente {
    background:transparent url(../img/estrelas-cadentes.png) repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index:2;
    opacity: .4;
    animation:mover-cadentes 200s linear infinite;
}

/****************** TRANSIÇÃO/SEPARADOR DE SEÇÃO ******************/
.ondas-container{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    align-items: flex-end;
    justify-content: flex-end;
    
}

section{
    position: relative;
    width: 100%;
    height: 140px;
    z-index: 10;
    overflow: hidden;
}

section .onda {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../img/onda.png);
    background-size: 1000px 100px;
    z-index: 8;
}

section .onda.onda1 {
    animation: animate 30s linear infinite;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
section .onda.onda2 {
    animation: animate2 15s linear infinite;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 10px;
}
section .onda.onda3 {
    animation: animate2 15s linear infinite;
    opacity: 0.5;
    animation-delay: -2s;
    bottom: 15px;
}
section .onda.onda4 {
    animation: animate2 15s linear infinite;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}
@keyframes animate{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}
@keyframes animate2{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}

@media only screen and (max-width: 1400px) {
    .planetas{
        background: url(../img/planetas768.svg)repeat top center;
    }
}

@media only screen and (max-width: 768px) {
    
    
    #caixa-pesquisa{
        height: 50px;
        width: 80vw;
        padding: 15px;
        
    }

    #pesquisa-livro{
        font-size: 1rem;
        height: 50px;
        width: 50vw;
        margin-left: 0%;
        text-align: start;
        padding-left: 5px;
        border-radius: 10px;
        border: none;
        outline: none;
        
        /* Deixar caixa de pesquisa acima das imagens */
        display:block;
        position: relative;
    }

    .planetas{
        background: url(../img/planetas768.svg)repeat top center;
        
    }

}