#secao-produtos-menu{
    display: flex;
    position: relative;
    height: 100%;
}

.barra-menu{
    position: relative;
    margin-top: 260px;
    top: 0;
    left: 0;
    height: inherit;
    width: 80px;
    background-color: #11101d;
    border-radius: 20px;
    transition: all 1s ease;
}

.barra-menu:hover  {
    width: 250px;
}

.barra-menu .conteudo-logo .logo{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    margin-top: 15px;
    padding-bottom: 80px;
    pointer-events: none;
    
}

.conteudo-logo .logo i {
    height: 50px;
    width: 50px;
    font-size: 50px;
    margin-right: 5px;
}

.conteudo-logo .logo .vulgo-menu{
    height: 10px;
    width: 10px;
    margin-left: 30px;
    opacity: 0;
    transition: all 1s ease;
}

.barra-menu:hover .conteudo-logo .logo .vulgo-menu{
    opacity: 1;
    pointer-events: none;
}

.barra-menu #btn-menu{
    position: absolute;
    color: #fff;
    left: 60%;
    top: 6px;
    font-size: 40px;
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 50px;
    transition: all 1s ease;
    transform: translateX(-50%);
}

.barra-menu:hover #btn-menu {
    left: 90%;
}

.barra-menu ul{
    margin-right: 20px;
    margin-left: 20px;
    
}

.barra-menu ul li{
    height: 50px;
    width: 100%;
    position: relative;
    margin: 0 10px;
    margin-right: 80px;
    margin-bottom: 20px;
    list-style: none;
    line-height: 50px;
    white-space: nowrap;
}

.barra-menu ul li a{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    transition: all 0.4s ease;
    
}

.barra-menu ul li a span{
    visibility: hidden;
    transition: all 1s ease-out;
}

.barra-menu:hover ul li a span{
    visibility: visible;
}

.barra-menu ul li a:hover{
    color: #11101d;
    background-color: white;
}

.barra-menu ul li a i{
    font-size: 1.8rem;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px; 
}

.icons{
    height: 30px;
    min-width: 30px;
    padding-right: 23px;
    border-radius: 12px;
    line-height: 50px;
}

